<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link rel="stylesheet" href="homeless.css">-->
  <script src="homeless.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

  <title>Homeless Shelter</title>
</head>

  
  <header class="header">
<h1 class="header-text">Charlotte City Homeless Shelter</h1>
  </header>
    

<!--Controls the background color of the css class main... look at welcome controller to see what the variables are-->
<% if @beds.length == 1 %>
  <%= @greenMain.html_safe %>
<% else %>
  <%= @redMain.html_safe %>
<% end %>

<img src="<%= asset_path( 'bed.svg' ) %>" class="bed-logo" alt="bed icon">

<!--Checkbox or X-Box image icon ... depending on if there are available beds -->
<!--This does not work yet. It gets the length of the array, not the values within it-->
<!--See: welcome controller to see what these variables do-->
<% if @beds.length == 1 %>
  <%= @beginImageHTML.html_safe %>
  <%= asset_path( 'icon-y.svg' ) %>
  <%= @endImageHTMLYES.html_safe %>
<% else %>
  <%= @beginImageHTML.html_safe %>
  <%= asset_path( 'icon-x.svg' )%>
  <%= @endImageHTMLNO.html_safe %>
<% end %>

<h2 class="bedfont bed-count">    
    <% @beds.each do |bed| %>
    <%= bed.bedCount %>
    <% end %> 
    Bed(s) Available</h2>
<h3 class="bedfont phone">Call: <a href="tel:123-456-7890">123-456-7890</a></h3>
  </main>
    
 <iframe class="gmap-canvas" 
 src="https://maps.google.com/maps?q=unc%20char&t=&z=13&ie=UTF8&iwloc=&output=embed" 
 frameborder="0" scrolling="no" ></iframe> 


  <footer class="footer">

<h3 class="footer-header phone">Phone: <a href="tel:123-456-7890">123-456-7890</a></h3>

<h3 class="footer-header">Email: Fake-Charlotte-Shelter@gmail.com</h3>

<h3 class="footer-header">Address: 1231 River Road Charlotte, NC</h3>

  </footer>

</html>